// Fonts
$font-primary: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
$font-secondary: "Cousine", "Courier New", Courier, monospace;

// Colors
$color-accent: #5bf6ff;
$black: #111;
$gray-dark: #333;
$gray: #999;
$gray-light: #f1f1f1;
$yellow: #f0ff8e;
$gradient: linear-gradient(to right, #5bf6ff 0%,#f0ff8e 100%);